header {
    display: grid;
    grid-template: auto / 0.3fr 2fr 1fr 1fr 0.7fr;
    grid-template-areas: 
        "logo logo_name lnk_eff lnk_priv lnk_cont"
    ;
    background-color: @back_color;
    color:@text_color;
    font-size: @text_s;
    padding: @margin_tp_bt @margin_lf_rt;
}
.logo {
    grid-area: logo;
    justify-self: start;
    align-self: center;
}
.logo_name {
    grid-area: logo_name;
    align-self: center;    
}
.lnk_eff {
    grid-area: lnk_eff;
}
.lnk_priv {
    grid-area: lnk_priv;
}
.lnk_cont {
    grid-area: lnk_cont;
}
.lnk_eff, .lnk_priv, .lnk_cont {
    justify-self: end;
    align-self: center;
    color:@text_color;    
    padding:10px 0;
}
.lnk_cont:hover, .lnk_eff:hover, .lnk_priv:hover {
    border-bottom: 3px solid @text_color;
}
.tel {color:@text_color;}
